.textfield {}

.input {
  composes: UIFontStyle from '../../core/css/ui_font_style.css';
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: #333333;
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 6px 8px 6px;
}

.input:focus {
  border-color: #0070FF;
  box-shadow:  0 0 0 1px #0070FF;
  outline: none;
}
