@import '../../core/css/vars/ui_focus';

.dropdown {
  composes: uiFontStyle from '../../core/css/ui_font_style.css';
  background-color: #EBECF0;
  border-radius: 3px;
  color: #333333;
  display: inline-flex;
  min-width: 150px;
  position: relative;
  user-select: none;
  height: 30px;
  align-items: center;
}

.dropdown:active {
  background-color: #E1E2E6;
}

.label {
  display: block;
  padding: 0 8px;
  padding-right: 30px;
}

.arrow {
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -2px;
}

.select {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

/* :focus-within will come and remove the need for this. */
.select:focus + .focusRing {
  border-radius: 3px;
  box-shadow:  0 0 0 $focusWidth $focusColor;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
}
