<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="">

  </head>
  <body style="margin:0;">
    <div id="app"></div>
    <script src="{{ htmlWebpackPlugin.options.config.baseUrl }}bundle.js"></script>
  </body>
</html>
